#home-feature {
  position: relative;
  height: 650px;
  list-style: none;
  overflow: hidden;
}
#home-feature li,
#home-feature figure {
  display: inline;
}
#home-feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home-feature .home-feature-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, #000 0%, #FFF0 100%);
}

#home-latest {
  position: relative;
  width: 100%;
  margin-top: -360px;
  padding-bottom: 30px;
  font-size: 16px;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
}
#home-latest button {
  position: absolute;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  margin-top: 120px;
  line-height: 150px;
  font-size: 30px;
  color: #FFF;
  background: #0008;
  z-index: 1;
  border: none;
}
#home-latest button:last-of-type {
  right: 0;
}
#home-latest > .content-container h1 {
  display: inline-block;
  margin-left: -12345px;
  padding: 20px 30px 20px 12345px;
  text-shadow: 0 0 3px #000;
  background: #0008;
}
#home-latest-items {
  padding-left: 20px;
  transition: transform 0.5s ease-in-out;
}
#home-latest-items a {
  display: inline-block;
}
#home-latest-items figure {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  white-space: normal;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #777;
}
#home-latest-items figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}
#home-latest-items figure:hover img {
  transform: scale(1.10);
}
#home-latest-items figure figcaption {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0;
  padding: 50% 20px 20px;
  color: #FFF;
  font-size: 1.4em;
  font-weight: bold;
  background: linear-gradient(0deg, #000 0%, #FFF0 100%);
  border-radius: 0 0 20px 20px;
}
#home-latest-items figure figcaption h1 {
  margin: 0;
  font-size: inherit;
}
#home-latest-items figure figcaption h2 {
  margin: 5px 0 0;
  font-size: 0.6em;
}
#home-latest-items figure figcaption time {
  font-size: 0.6em;
  font-weight: normal;
}
#home-latest-items .more-latest-items figcaption {
  width: auto;
  padding: 50px 50px 132px;
  font-size: 2.2em;
}

.front-images {
  font-size: 16px;
}
.front-images figure {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 100%;
  max-height: 400px;
  vertical-align: top;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 30px #777;
}
.front-images figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.5s ease-in-out;
}
.front-images figure:hover img {
  transform: scale(1.10);
}
.front-images figure.size-full-width {
  width: calc(100% - 22px);
}
.front-images figure figcaption {
  position: absolute;
  top: 10px;
  left: -1140px;
  padding: 20px 30px;
  color: #FFF;
  font-size: 2.3em;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  transition: left 0.5s ease-in-out;
  background: #0008;
}
.front-images figure:hover figcaption {
  left: 0;
}

@media (max-width: 768px) {
  #home-feature {
    height: 550px;
  }

  #home-latest {
    margin-top: -300px;
  }
  #home-latest button {
    margin-top: 60px;
  }

  #home-latest-items figure img {
    width: 200px;
    height: 266px;
    object-fit: cover;
    border-radius: 30px;
  }
  #home-latest-items figure figcaption {
    font-size: 1.3em;
  }
  #home-latest-items .more-latest-items figcaption {
    padding: 30px 30px 80px;
    font-size: 1.7em;
  }

  .front-images figure {
    width: calc(100vw - 56px);
    height: calc(100vw - 56px);
  }
  .front-images figure figcaption {
    left: 0;
    font-size: 2em;
  }
}
